<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxsoft.orm.dao.TaskListMapper">
  <resultMap id="BaseResultMap" type="com.rxsoft.orm.model.TaskList">
    <id column="list_id" jdbcType="INTEGER" property="listId" />
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="list_name" jdbcType="VARCHAR" property="listName" />
    <result column="list_priority" jdbcType="INTEGER" property="listPriority" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from task_list
    where list_id = #{listId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rxsoft.orm.model.TaskList">
    insert into task_list (list_id, user_id, list_name, 
      list_priority)
    values (#{listId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{listName,jdbcType=VARCHAR}, 
      #{listPriority,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rxsoft.orm.model.TaskList">
    update task_list
    set list_name = #{listName,jdbcType=VARCHAR},
      list_priority = #{listPriority,jdbcType=INTEGER}
    where list_id = #{listId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select list_id, user_id, list_name, list_priority
    from task_list
    where list_id = #{listId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select list_id, user_id, list_name, list_priority
    from task_list
  </select>
</mapper>