<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxsoft.orm.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.rxsoft.orm.model.User">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_file_space" jdbcType="VARCHAR" property="userFileSpace" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rxsoft.orm.model.User">
    insert into user (user_id, user_pwd, user_name, 
      user_file_space, user_phone, user_email
      )
    values (#{userId,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userFileSpace,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rxsoft.orm.model.User">
    update user
    set user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_file_space = #{userFileSpace,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_pwd, user_name, user_file_space, user_phone, user_email
    from user
    where user_id = #{account,jdbcType=VARCHAR}
    and   user_pwd = #{passWord,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_pwd, user_name, user_file_space, user_phone, user_email
    from user
  </select>
  <select id="selectByTel" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select user_id, user_pwd, user_name, user_file_space, user_phone, user_email
    from user
    where user_phone = #{account,jdbcType=VARCHAR}
    and   user_pwd = #{passWord,jdbcType=VARCHAR}
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_pwd, user_name, user_file_space, user_phone, user_email
    from user
    where user_email = #{account,jdbcType=VARCHAR}
    and   user_pwd = #{passWord,jdbcType=VARCHAR}
  </select>
</mapper>